<Configuration name="Bread" status="error">

  <Properties>
    <Property name="logsFolder">${sys:user.home}/.bread/logs/</Property>
    <Property name="fileName">log.txt</Property>
    <Property name="filePattern">${date:yyyy-MM}/log_${date:yyyy-MM-dd_HH-mm-ss}.txt</Property>
  </Properties>

  <Appenders>
    <Console name="Stdout">
      <PatternLayout>
        <Pattern>%d [%X{correlationId}] %5p %c{1} %X - %m%n</Pattern>
      </PatternLayout>
    </Console>

    <Console name="Flow">
      <!-- Has line number and everything -->
      <PatternLayout>
        <Pattern>%d [%X{correlationId}] %5p %c{1} %X %F:%L - %m%n</Pattern>
      </PatternLayout>
    </Console>

    <File name="File" fileName="${logsFolder}${filePattern}">
      <PatternLayout>
        <Pattern>%d [%X{correlationId}] %5p %c{1} %X - %m%n</Pattern>
      </PatternLayout>
    </File>

    <!-- not used -->
    <RollingFile name="RollingFile" fileName="${logsFolder}${fileName}" filePattern="${logsFolder}${filePattern}">
      <PatternLayout>
        <Pattern>%d [%X{correlationId}] %5p %c{1} %X - %m%n</Pattern>
      </PatternLayout>
      <Policies>
        <OnStartupTriggeringPolicy/>
      </Policies>
    </RollingFile>
  </Appenders>

  <Loggers>
    <Root level="TRACE">
      <AppenderRef ref="Flow"/>
      <AppenderRef ref="File" level="DEBUG"/>
    </Root>
  </Loggers>

</Configuration>
